
/*height of all elements*/
    footer{
          height: auto;  
          width: auto;
      }   

    .nav-sssr-img, .nav-german-img, .nav-japan-img{
          height:  60px  ;
      }

    .image-wot{
          height: 350px;
      }


/*width of site's image(content(not navbar))*/
    #site-content_img-is, #site-content_img-is3, #site-content_img-is6{
          width: 450px;
      }
    #site-content_img-e100, #site-content_img-tigr1, #site-content_img-leopard1{
          width: 450px;
      }    
    #site-content_img-oho, #site-content_img-oi {
          width: 450px;
      }
    #nav-sssr-img, #nav-german-img, #nav-japan-img{
          width: 110px;
      }

/*search-Form (from navigation-bar)*/
    .search-btn{
          cursor: pointer;
          width: 80px ;
          height: 40px;
      }
    #inputSearch{
          border-bottom: 3px solid red;
          width: 200px;
      }

/*Images of tanks/background-image*/
    .image-wot{
          background-image: url("images/wot-t.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          cursor: pointer;
      }
    .navbar{
          padding: 0.4%;
          border-bottom: 5px solid white;
      }
    #site-content_img-is, #site-content_img-is3, #site-content_img-is6{
          border: 5px solid black;        
          cursor: pointer;
      }
    #site-content_img-e100, #site-content_img-tigr1, #site-content_img-leopard1{
          border: 5px solid black;        
          cursor: pointer;
      }
    #site-content_img-oho, #site-content_img-oi {
          border: 5px solid black;        
          cursor: pointer;
      }     
    

/*color and background-color of elements(without links)*/
     .header{
          background-color: #282828  ;  
          color: white;
      }
    #leftcol{
          background-color: #101010  ;  
      }
    #rightcol{
          background-color: #101010  ;  
      }
    footer{
          background-color: #101010  ;
          color: #404040  ;
      }     
     #afla_text{
          color: green;
      }

h1{
     text-align: center; 
 }

/*left and right colums*/
    #leftcol{
          float: left;
          word-break: break-all;
          word-wrap: break-word;
      }
    #rightcol{
          float: right ;
          word-break: break-all;
          word-wrap: break-word;
      }

/*!!FOOTER!! */

/*.contact-right*/
    .contact-right{
          font-size: 12px;
          cursor: pointer;
          float: right;
          word-break: break-all;
          word-wrap: break-word;
      }


/*.contact-left*/
    .contact-left{
          font-size: 12px;
          float: left;
          cursor: pointer;
          word-break: break-all;
          word-wrap: break-word;
      }  

/*END of footer*/

footer{
     font-size: 12px;
 }

/*style (footer) links*/
    a{
          text-decoration: none;
      }
    a:link{
          color: white;
      }
    a:visited{
          color: white;
      }
    a:hover {
          color: red;
      }
    a:active {
          color: yellow;
      }




/*!! FOOTER-icons (content) !! */
/* From .contact-right*/

    .facebook{

      }
    .google+{

      }
    .twitter{

      }
/* From .contact-left*/
    .twitch{

      }
    .github{

      }
    .vk{

      }
/*End of FOOTER-icons (content) (from line 161 )*/


/*display of footer-icons(content)*/
     #footer-GoogleFacebookTwitter{
          display: inline;
      }

     #footer-GithubVkTwitch{
          display: inline;
      }



/*White Borders line ARROUND the .col-md-8,  #leftcol and  #rightcol*/
     .col-md-8{
          border-left: 3px solid #606060   ;
          border-right: 3px solid #606060   ;
          border-bottom: 3px solid  #606060   ;
      }
     #leftcol, #rightcol{
          border-top: 3px solid #606060  ;
          border-bottom: 3px solid #606060   ;
      }


.site-content{
     text-align: center;
 }


/*Size of words "Contact us in: " (part of footer)*/
     .contactUsIn-left, .contactUsIn-right{
          font-size: 17px;
          word-spacing: 5px;
      }

.col-md-2{
     padding-bottom: 4408px
 }

/*
Img from navbar(from dropdown)*/
     #nav-sssr-is, #nav-sssr-is3, #nav-sssr-is6,   #nav-german-tigr1, #nav-german-leopard1, #nav-german-e100,   #nav-japan-oho, #nav-japan-oi{
          text-align: center;
          border: 5px solid black;
      }

/*#afla " section*/
     #afla{
          padding-top: 30px;
      }
     #afla_text{
          font-size: 20px;
      }

#site-content_is,    #site-content_is3,      #site-content_is6, 
#site-content_tigr1, #site-content_leopard1, #site-content_e100, 
#site-content_oho,   #site-content_oi      {
  padding-top: 50px;
 }

#col{
  padding-bottom: 158px;
 }

/*Font-Family of elements*/
     h1, h2{
          font-family: 'Pacifico', cursive;
      }
     footer{
          font-family: 'Lobster Two', cursive;
      }
     li, p,nav{
          font-family: 'Ruslan Display', cursive;
      }
     .dropdown-menu {
          background-color: #555555;
          font-family: 'Pacifico', cursive;  
      }
